*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
}

.content {
  background-color: #1a1a1a;
  color: #ffffff;
  max-width: 1680px;
  padding: 0px 15px;
  margin: 0px auto;
}

/* ----------------------------------------------------------- */

.txt-ellieps {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cv-column {
  flex: 0 1 31%;
}

.cv-achievements {
  margin: 0px 0px 0px 0px;
}



.achievements-title {
  font-weight: 600;
  font-size: 75px;
  line-height: calc(75 / 75 * 100%);
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  margin-bottom: 50px;
}


.info__item {
  flex: 1 1 40%;
  margin: 0px 0px 30px 0px;
}

.info__item-title {
  font-size: 15px;
  font-weight: 500;
  /* line-height: 25px; */
  color: gray;
  max-width: 206px;
}

.info__item-suptitle {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  font-style: normal;
  color: #FFFFFF;
  max-width: 206px;
}

.achievements__tech>*:not(:last-child) {
  margin: 0px 0px 17px 0px;
}

.achievements__tech-title {
  font-weight: 600;
  font-size: 30px;
  line-height: calc(25 / 30 * 100%);
}

.tech__item-background {
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.tech__item-progress-line {
  height: 7px;
  background: #ffffff;
  border-radius: 10px;
}

.tech__item-progress-line:first-child {
  width: 130px;
}

.tech__item-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}



.cv-information>*:not(:last-child) {
  margin: 0px 0px 47px 0px;
}

.information__item-title {
  font-size: 30px;
  font-weight: 600;
  line-height: calc(25 / 30 * 100%);
  margin-bottom: 15px;
}

.information__item-text {
  max-width: 460px;
  font-weight: 500;
  font-size: 15px;
  line-height: calc(25 / 15 * 100%);
  color: #FFFFFF;
}

.information__item-text-needs {
  max-width: 460px;
}

.information__item-text-needs>li {
  list-style-type: initial;
}

.information__item-text-needs>*:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.cv-column-avatar {}

.cv-avatar {
  position: relative;
  margin: 50px 0px 50px 0px;
  text-align: center;
  flex: 0 1 34%;
}

.bottom-right {
  font-weight: 600;
  font-size: 26px;
  position: absolute;
  bottom: 7%;
  right: 16px;
}

.avatar-image {
  border-radius: 7px;
  max-width: 100%;
  max-height: 750px;
  object-fit: contain;
}

@media (max-width: 1350px) {
  .main-body {
    flex-direction: column;
  }

  .cv-information {
    margin-top: 50px;
  }

  .cv-column {
    flex: 1 1 auto;
  }
}

@media (max-width:420px) {
  .bottom-right {
    font-size: 24px;
  }

  .achievements-title {
    font-size: 60px;
  }

  .information__item-text {
    padding: 0 5px;
  }
}

@media (max-width:320px) {
  .achievements-title {
    font-size: 50px;
  }
}